absl-py
aiohttp
async-timeout==3.0.1
attrs
av
blinker==1.4
brotlipy==0.7.0
cachetools
certifi==2021.5.30
cffi
chardet
charset-normalizer
click
cryptography
ffmpeg-python==0.2.0
future
google-auth
google-auth-oauthlib==0.4.1
grpcio
idna
importlib-metadata
jupyter-tabnine==1.1.0
Markdown
multidict
numpy
oauthlib
olefile
Pillow
protobuf==3.17.2
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser
PyJWT
pyOpenSSL
PySocks
pyu2f
requests
requests-oauthlib
rsa
six
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
torch==1.7.0
torchaudio==0.7.0
torchvision==0.8.0
typing-extensions
urllib3
Werkzeug
yarl
zipp
